<div id="layout" class="theme-cyan">
<div id="wrapper">
    <div class="d-flex h100vh align-items-center auth-main w-100">
      <div class="auth-box">
          <div class="top mb-4">
              <!-- <div class="logo">
                  <img width="210px" viewBox="0 0 82.5 22.9" src="../../../assets/images/logo.png">
              </div>
              <p class="text-light" style="font-size: 18px; margin-left: 20px;font-family:'Courier New', Courier, monospace;">Procurement System</p> -->
              <h3>Bconto</h3>
          </div>
  <router-outlet></router-outlet>
  </div>
  </div>
  </div>
</div>
